@model IEnumerable<IOITWebApp31.Models.Data.NewsDTO>
@using IOITWebApp31.Models;

@if (Model != null)
{
    var i = 0;
    @foreach (var item in Model)
    {
        <div class="box first-item-news-4-1-2">
            <div class="box-image">
                <a href="@("/" + item.Url)" class="d-block">
                    <img src="@(ViewBag.LinkSite)/uploads/@item.Image"
                         alt="featured image">
                </a>
            </div>
            <div class="box-text">
                <div class="cate-box textLine-1"><a href="@(ViewBag.LinkSite)/@item.LinkCategory">@item.NameCategory</a></div>
                <h2 class="heading-box">
                    <a href="@("/" + item.Url)" class="textLine-2">
                        @item.Title
                    </a>
                </h2>
            </div>
        </div>
    }
}