<div class="child-page">
    <div class="banner-page">
        <img src="/images/banner-prd.jpg" class="img-responsive" alt="">
        <div class="breadcrumb container">
            <p>@Startup._lang["About"]</p>
            <ul>
                <li><a href="/" >@Startup._lang["Home"]</a></li>
                <li><span>@Startup._lang["CCTC"]</span></li>
            </ul>
        </div>
    </div>


    <div class="maincontent-page diagram-page">
        <div class="full-page">
            <div class="container">
                <div class="dia-mb mb"><img class="img-responsive" src="~/images/cocautochuc.png"/></div>
                <div class="bg-page dk">
                    <div class="title1">@Startup._lang["Customer"]</div>
                    <div class="row1">
                        <div class="per1 color-yellow">
                            <p><span>@Startup._lang["KD_DA"]</span></p>
                            <p><span>@Startup._lang["GP"]<br>@Startup._lang["KT_KT"]</span></p>
                        </div>
                        <div class="per1 color-purple">
                            <p><span>@Startup._lang["KS_TC"]</span></p>
                            <p><span>@Startup._lang["DT"]<br>@Startup._lang["BT"]</span></p>
                        </div>
                        <div class="per1 color-red">
                            <p><span>@Startup._lang["KD_DA"]</span></p>
                            <p><span>@Startup._lang["GP"]<br>@Startup._lang["KT_KT"]</span></p>
                        </div>
                        <div class="per1 color-blue">
                            <p><span>@Startup._lang["BH"]<br>@Startup._lang["PTK"]</span></p>
                            <p><span>@Startup._lang["KTSP"]<br>@Startup._lang["TVGP"]</span></p>
                        </div>
                    </div>

                    <div class="row1 row2">
                        <div class="per1 color-yellow">
                            <p><span>@Startup._lang["TTIKTS"]<br>& @Startup._lang["XLDL"]</span></p>
                        </div>
                        <div class="per1 color-purple">
                            <p><span>@Startup._lang["TT"]<br>@Startup._lang["DVKT"]</span></p>
                        </div>
                        <div class="per1 color-red">
                            <p><span>@Startup._lang["TTGP"]<br>@Startup._lang["SGP"]<br>@Startup._lang["DLGP"]</span></p>
                        </div>
                        <div class="per1 color-blue">
                            <p><span>@Startup._lang["TTAN"]</span></p>
                        </div>
                    </div>

                    <div class="row3">
                        <div class="per1 color-green">
                            <p><span>@Startup._lang["CU_KV"]</span></p>
                        </div>
                        <div class="per1 color-green2">
                            <p><span>@Startup._lang["HC_NS"]</span></p>
                        </div>
                        <div class="per1 color-purple2">
                            <p><span>@Startup._lang["TIEPTHI_TRUYENTHONG"]</span></p>
                        </div>
                        <div class="per1 color-black">
                            <p><span>@Startup._lang["TC_KT"]</span></p>
                        </div>
                    </div>


                    <div class="row4">
                        <div class="per1 color-red2">
                            <p><span>@Startup._lang["TGD"]</span></p>
                        </div>
                        <div class="per2 color-red2">
                            <p><span>@Startup._lang["BKS"]</span></p>
                        </div>
                    </div>
                    <div class="row4 row5">
                        <div class="per1 color-red2">
                            <p><span>@Startup._lang["CT_HDQT"]</span></p>
                        </div>
                    </div>

                </div>

                <div class="row8">
                    <p><img src="images/logo.png" alt=""></p>
                </div>
                @*<div class="title1">Go to market</div>
        <div class="bg-page">
            <div class="row1">
                <div class="per1">
                    <img src="/images/avatar.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Pham Tri Son</span>
                    <span>IMS specialist</span>
                </div>
                <div class="per1">
                    <img src="/images/DAO-NGOC-VE.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Dao Ngoc Ve</span>
                    <span>Solution Engineer</span>
                </div>
                <div class="per1">
                    <img src="/images/LE-NGOC-SON.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Le Ngoc Son</span>
                    <span>Solution Manager</span>
                </div>
                <div class="per1">
                    <img src="/images/avatar.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Dao The Hiep</span>
                    <span>Sale Manager</span>
                </div>
                <div class="per1">
                    <img src="/images/YEN-THI-HOA.jpg" class="img-responsive" alt="">
                    <span class="name-per">Ms. Yen Hoa</span>
                    <span>Sale Manager</span>
                </div>
            </div>

            <div class="row1 row2">
                <div class="per1">
                    <img src="/images/DANG-DUY-HIEU.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Dang Duy Hieu</span>
                    <span>IMS team leader</span>
                </div>
                <div class="per1">
                    <img src="/images/HOANG-ANH-TAI.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Hoang Anh Tai</span>
                    <span>Solution Engineer</span>
                </div>
                <div class="per1">
                    <img src="/images/avatar.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Nguyen Trong Tan</span>
                    <span>IMS team leader</span>
                </div>
                <div class="per1">
                    <img src="/images/LE-THI-NHU-QUYNH.jpg" class="img-responsive" alt="">
                    <span class="name-per">Ms. Le Thi Nhu Quynh</span>
                    <span>Sale Manager</span>
                </div>
                <div class="per1">
                    <img src="/images/TO-VAN-DUNG.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. To Van Dung</span>
                    <span>Product Engineer</span>
                </div>
            </div>

            <div class="row3">
                <div class="per1">
                    <img src="/images/LE-HONG-LONG.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Le Hong Long</span>
                    <span>Sale Manager</span>
                </div>
                <div class="per1">
                    <img src="/images/DO-ANH-TUAN.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Do Anh Tuan</span>
                    <span>Sale Manager</span>
                </div>
            </div>


            <div class="row4">
                <div class="per1">
                    <img src="/images/GDTT---VU-BAO-LONG.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Vu Bao Long</span>
                    <span>Digital print & data process Director</span>
                </div>
                <div class="per1">
                    <img src="/images/GDTT-NGUYEN-QUOC-CUONG.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Nguyen Quoc Cuong</span>
                    <span>Installation & maintenance services Director</span>
                </div>
                <div class="per1">
                    <img src="/images/GDTT--DINH-VAN-HUNG.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Dinh Van Hung</span>
                    <span>Security & building solution Director</span>
                </div>
                <div class="per1">
                    <img src="/images/GĐTT-NGUYEN-DUC-TUAN.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Nguyen Duc Tuan</span>
                    <span>Security products distribution Director</span>
                </div>
            </div>


            <div class="row4 row5">
                <div class="per1">
                    <img src="/images/DO-THI-HUONG-LY.jpg" class="img-responsive" alt="">
                    <span class="name-per">Ms. Do Thi Huong Ly</span>
                    <span>Hr & administration</span>
                </div>
                <div class="per1">
                    <img src="/images/DO-THI-HUONG-LY.jpg" class="img-responsive" alt="">
                    <span class="name-per">Ms. Do Thi Huong Ly</span>
                    <span>Supply & Logistics</span>
                </div>
                <div class="per1">
                    <img src="/images/Bui-Thi-Huong-Lan.jpg" class="img-responsive" alt="">
                    <span class="name-per">Ms. Bui Thi Huong Lan</span>
                    <span>Marketing & Communication</span>
                </div>
                <div class="per1">
                    <img src="~/images/HOANG-THI-HONG-HANH.jpg" class="img-responsive" alt="">
                    <span class="name-per">Ms. Hoang Thi Hong Hanh</span>
                    <span>Finance & Accounting</span>
                </div>
            </div>


            <div class="row6">
                <div class="per1">
                    <img src="/images/Nguyen-Dinh_Hiep.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Nguyen Dinh Hiep</span>
                    <span>CEO</span>
                </div>
            </div>


            <div class="row6 row7">
                <div class="per1">
                    <img src="/images/DO-DUC-HAU-1.jpg" class="img-responsive" alt="">
                    <span class="name-per">Mr. Do Duc Hau</span>
                    <span>CHAIRMAN</span>
                </div>
                <div class="per2">
                    <img src="/images/VU-BAO-KHANH.jpg" class="img-responsive" alt="">
                    <span class="name-per">Ms. Vu Bao Khanh</span>
                    <span>AUDIT</span>
                </div>
            </div>


        </div>

        <div class="row8">
            <p><span>Techpro</span><span>Organization Structure</span></p>
            <p><img src="/images/logo.png" alt=""></p>
        </div>*@

            </div>
        </div>
    </div>
