@model IEnumerable<IOITWebApp31.Models.EF.News>
@using IOITWebApp31.Models;

@if (Model != null)
{
    if (Model.Count() > 0)
    {

        @foreach (var item in Model)
        {
            if (item.Image == null)
            {
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="box box-image item-news-cate">
                        <div class="box-image position-relative">
                            <a href="/@(item.Url)" class="d-block">
                                <img class="image-cover" src="@(ViewBag.LinkSite)/images/bg-video-poster.jpg"
                                     alt="poster video">
                                <div class="play-video">
                                    <img src="@(ViewBag.LinkSite)/images/play-video-7.png"
                                         alt="icon play">
                                </div>
                            </a>
                        </div>
                        <div class="box-text">
                            <h2 class="heading-box">
                                <a href="/@(item.Url)" class="textLine-3">
                                    @item.Title
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col col-lg-3 col-md-6 col-12">
                    <div class="box box-image item-news-cate">
                        <div class="box-image position-relative">
                            <a href="/@(item.Url)" class="d-block">
                                <img class="image-cover" src="@(ViewBag.LinkSite)/uploads/@item.Image"
                                     alt="poster video">
                                <div class="play-video">
                                    <img src="@(ViewBag.LinkSite)/images/play-video-7.png"
                                         alt="icon play">
                                </div>
                            </a>
                        </div>
                        <div class="box-text">
                            <h2 class="heading-box">
                                <a href="/@(item.Url)" class="textLine-3">
                                    @item.Title
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            }
        }
    }
}