@model List<IOITWebApp31.Models.Data.MenuItems>
@using IOITWebApp31.Models;

@if (Model != null)
{
    var list_menu = Model.Where(m => m.MenuParentId == ViewBag.MenuParentId).OrderBy(m => m.Location).ToList();
    
    foreach (var item in list_menu)
    {
        var listChild = Model.Where(m => m.MenuParentId == item.MenuItemId).ToList();
        string css_class = "menu-item item";
        if (listChild.Count > 0)
        {
            css_class = "dropdown menu-item item";
        }
        <li class="@css_class" id="cate-@item.CategoryId" onclick="ActiveMenu(@item.CategoryId)">

            @if (listChild.Count > 0)
            {
                if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_TEXT || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_IMAGE
                    || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_VIDEO || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_ATTACTMENT
                    || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_NOTIFICATION)
                {
                    <a href='@("/" + item.Url)'
       title="@item.CategoryName" class="has-child rotate">
                        @item.CategoryName
                        
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_NORMAL)
                {
                    <a href='@("/" + item.Url)'
       title="@item.CategoryName" class="has-child rotate">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_DO_BLALK)
                {
                    <a href='javascrip:void(0);' class="has-child rotate" title="@item.CategoryName" rel="external">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_DO_NORMAL)
                {
                    if (item.Url != null && item.Url != "")
                    {
                        <a href='javascrip:void(0);' class="has-child rotate" title="@item.CategoryName" rel="next">
                            @item.CategoryName
                        </a>
                    }
                    else
                    {
                        <a href='javascript: void(0)' class="has-child rotate" title="@item.CategoryName" rel="next">
                            @item.CategoryName
                        </a>
                    }
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_NO_BLALK)
                {
                    <a href='javascrip:void(0);' class="has-child rotate" title="@item.CategoryName" rel="nofollow">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_NO_NORMAL)
                {
                    <a href='javascrip:void(0);' class="has-child rotate" title="@item.CategoryName" rel="nofollow">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PRODUCT)
                {
                    <a href='javascrip:void(0);'
       title="@item.CategoryName" class="has-child rotate">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_LEGAL_DOC)
                {
                    <a href='javascrip:void(0);' class="has-child rotate" title="@item.CategoryName" rel="nofollow">
                        @item.CategoryName
                    </a>
                }
                <ul class="dropmenu sub-menu nav-dropdown nav-dropdown-default list-child-tab" style="display:block;">
                    @await Component.InvokeAsync("HeaderMenu", new { MenuId = 28, MenuParentId = item.MenuItemId, menuItems = Model })
                </ul>
            }
            else
            {
                if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_TEXT || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_IMAGE
                    || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_VIDEO || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_ATTACTMENT
                    || item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_NEWS_NOTIFICATION)
                {
                    
                    <a href='@("/" + item.Url)'
                       title="@item.CategoryName">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_NORMAL)
                {
                    <a href='@("/" + item.Url)'
                       title="@item.CategoryName">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_DO_BLALK)
                {
                    <a href='@(item.Url)' title="@item.CategoryName" rel="external">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_DO_NORMAL)
                {
                    if (item.Url != null && item.Url != "")
                    {
                        <a href='@("/"+item.Url)' title="@item.CategoryName" rel="next">
                            @item.CategoryName
                        </a>
                    }
                    else
                    {
                        <a href='javascript: void(0)' title="@item.CategoryName" rel="next">
                            @item.CategoryName
                        </a>
                    }
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_NO_BLALK)
                {
                    <a href='@(item.Url)' title="@item.CategoryName" rel="nofollow">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PAGE_LINK_NO_NORMAL)
                {
                    <a href='@(item.Url)' title="@item.CategoryName" rel="nofollow">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_PRODUCT)
                {
                    <a class="first_level_nav" href='@("/" + item.Url)'
                       title="@item.CategoryName">
                        @item.CategoryName
                    </a>
                }
                else if (item.TypeCategoryId == (int)Const.TypeCategory.CATEGORY_LEGAL_DOC)
                {
                    <a href='@("/"+item.Url)' title="@item.CategoryName" rel="nofollow">
                        @item.CategoryName
                    </a>
                }

            }

        </li>
    }
}

@section Scripts {
    <script type="text/javascript">
        function ActiveMenu(id) {
             $('.nav-tab-vertical .menu-item').removeClass('active');
             $("#cate-" + id).addClass("active");
        }
        
    </script>
}

