@model IEnumerable<IOITWebApp31.Models.EF.News>
@using IOITWebApp31.Models;

@if (Model != null)
{

    @foreach (var item in Model)
    {
        if (item.Image != null){
            <div class="box item-news-6-2-1">
                <div class="box-image">
                    <a href="@("/" + item.Url)" class="d-block">
                        <img class="image-cover" src="@(ViewBag.LinkSite)/uploads/@item.Image"
                 alt="@item.Title">
                    </a>
                </div>
                <div class="box-text">
                    <h2 class="heading-box">
                        <a href="/@item.Url" class="textLine-3">
                            @item.Title
                        </a>
                    </h2>
                </div>
            </div>
        }else{
            <div class="box item-news-6-2-1">
                <div class="box-text">
                    <h2 class="heading-box">
                        <a href="/@item.Url" class="textLine-3">
                            @item.Title
                        </a>
                    </h2>
                    <p class="desc-box textLine-5">
                        @(item.Description.Length > 400 ? item.Description.Substring(0, item.Description.Substring(0, 400).LastIndexOf(' ')) + "..." : item.Description)
                    </p>
                </div>
            </div>
        }
    }
}