@{
    ViewData["Title"] = "ManageLink";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<main id="main" ng-controller="DataSetController" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <div id="content" class="content-area">
        <section class="section section-info-user">
            <div class="bg-section"></div>
            <div class="container">
                <div class="row row-small main-info">
                    <div class="col col-lg-12 col-md-12 col-12 main-manage-data">
                        @*<div class="filter-manage-data">
                        <div class="filter-txt-data">
                        <div class="create-data">
                        @if (ViewBag.ViewKuberflow)
                        {
                        if (ViewBag.IsIframe)
                        {
                        <a class="btn-data-create" ng-click="ViewManageLink(1)">Kuberflow</a>
                        }
                        else
                        {
                        <a class="btn-data-create" href="@ViewBag.LinkKuberflow" target="_blank">Kuberflow</a>
                        }
                        }
                        </div>
                        <div class="create-data">
                        @if (ViewBag.ViewSparkWorker)
                        {
                        if (ViewBag.IsIframe)
                        {
                        <a class="btn-data-create" ng-click="ViewManageLink(2)">Spark Worker</a>
                        }
                        else
                        {
                        <a class="btn-data-create" href="@ViewBag.LinkSparkWorker" target="_blank">Spark Worker</a>
                        }
                        }
                        </div>
                        <div class="create-data">
                        @if (ViewBag.ViewSparkMaster)
                        {
                        if (ViewBag.IsIframe)
                        {
                        <a class="btn-data-create" ng-click="ViewManageLink(3)">Spark Master</a>
                        }
                        else
                        {
                        <a class="btn-data-create" href="@ViewBag.LinkSparkMaster" target="_blank">Spark Master</a>
                        }
                        }
                        </div>
                        <div class="create-data">
                        @if (ViewBag.ViewNifi)
                        {
                        if (ViewBag.IsIframe)
                        {
                        <a class="btn-data-create" ng-click="ViewManageLink(4)">Nifi</a>
                        }
                        else
                        {
                        <a class="btn-data-create" href="@ViewBag.LinkNifi" target="_blank">Nifi</a>
                        }
                        }
                        </div>
                        <div class="create-data">
                        @if (ViewBag.ViewAirByte)
                        {
                        if (ViewBag.IsIframe)
                        {
                        <a class="btn-data-create" ng-click="ViewManageLink(5)">AirByte</a>
                        }
                        else
                        {
                        <a class="btn-data-create" href="@ViewBag.LinkAirByte" target="_blank">AirByte</a>
                        }
                        }
                        </div>
                        </div>
                        </div>*@
                        @*<div class="table-manage-data">
                        @if (ViewBag.ViewKuberflow)
                        {
                        <iframe src="@ViewBag.LinkKuberflow" width="100%" height="600" ng-show="isViewKuberflow"></iframe>
                        }
                        @if (ViewBag.ViewSparkWorker)
                        {
                        <iframe src="@ViewBag.LinkSparkWorker" width="100%" height="600" ng-show="isViewSparkWorker"></iframe>
                        }
                        @if (ViewBag.ViewSparkMaster)
                        {
                        <iframe src="@ViewBag.LinkSparkMaster" width="100%" height="600" ng-show="isViewSparkMaster"></iframe>
                        }
                        @if (ViewBag.ViewNifi)
                        {
                        <iframe src="@ViewBag.LinkNifi" width="100%" height="600" ng-show="isViewNifi"></iframe>
                        }
                        @if (ViewBag.ViewAirByte)
                        {
                        <iframe src="@ViewBag.LinkAirByte" width="100%" height="600" ng-show="isViewAirByte"></iframe>
                        }
                        </div>*@
                        <div class="list-logo">
                            <div>
                                <p>
                                    <a href="@ViewBag.LinkCeph" target="_blank" id="data-1" class="data-1">
                                        <img alt="" src="/uploads/images/Ceph-Logo.png" style="height:200px; width:208px" id="img-data-1" class="img-data-1">
                                    </a>&nbsp;
                                    <a href="@ViewBag.LinkRancher" target="_blank" id="data-2" class="data-2">
                                        <img alt="" src="/uploads/images/logo-square.png" style="height:200px; width:200px" id="img-data-2" class="img-data-2">
                                    </a>&nbsp;
                                    <a href="@ViewBag.LinkKuberflow" target="_blank" id="data-3" class="data-3">
                                        <img alt="" src="/uploads/images/kubeflow.png" style="height:200px; width:201px" id="img-data-3" class="img-data-3">
                                    </a>&nbsp;
                                    <a href="@ViewBag.LinkSparkWorker" target="_blank" id="data-4" class="data-4">
                                        <img alt="" src="/uploads/images/spark.png" style="height:200px; width:356px" id="img-data-4" class="img-data-4">
                                    </a>
                                </p>
                                <p>
                                    <a href="@ViewBag.LinkSparkMaster" target="_blank" id="data-5" class="data-5">
                                        <img alt="" src="/uploads/images/spark1.png" style="height:200px; width:375px" id="img-data-5" class="img-data-5">
                                    </a>&nbsp;
                                    <a href="@ViewBag.LinkNifi" target="_blank" id="data-6" class="data-6">
                                        <img alt="" src="/uploads/images/nifi.png" style="height:200px; width:275px" id="img-data-6" class="img-data-6">
                                    </a>&nbsp;
                                    <a href="@ViewBag.LinkAirByte" target="_blank" id="data-7" class="data-7">
                                        <img alt="" src="/uploads/images/airbyte.png" style="height:327px; width:316px" id="img-data-7" class="img-data-7">
                                    </a>
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

